<mat-list *ngIf="filme; else semRegistro">
  <mat-list-item class="title"> {{ filme.titulo }}</mat-list-item>

  <div class="moldura-foto">
      <img mat-card-image [src]="filme.urlFoto || semFoto">
  </div>

  <mat-list-item class="quebrar-linha"> {{ filme.descricao }} </mat-list-item>
  <mat-list-item> Data de Lançamento: {{ filme.dtLancamento | date: 'dd/MM/yyyy'}} </mat-list-item>
  <mat-list-item> Gênero: {{ filme.genero }} </mat-list-item>

  <mat-list-item> Nota: <a [href]="filme.urlIMDb" target="_blank">
                           {{ filme.nota }}
                        </a>
  </mat-list-item>
</mat-list>

<mat-card>

  <mat-card-actions>
      <button class="padding10" color="accent" mat-raised-button>Editar</button>
      <button color="warn" mat-raised-button (click)="excluir()">Excluir</button>
  </mat-card-actions>

</mat-card>

<ng-template #semRegistro>
  <h1 class="full-width main-div msg-not-found">
  Nenhum Registro Encontrado
  </h1>
</ng-template>
