<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <textarea  matInput
               [placeholder]="titulo"
               [name]="controlName"
               [formControlName]="controlName">
    </textarea>

    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'required')">Campo Obrigatório *</mat-error>

    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'minlength')">
                Mínimo {{validacao.lengthValidar(formControl, 'minlength')}} Caracteres *
    </mat-error>

    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'maxlength')">
                Máximo {{validacao.lengthValidar(formControl, 'maxlength')}} Caracteres *
    </mat-error>

  </mat-form-field>
</div>

